body {
  overflow-x: hidden;
}

.containers {
  width: 550px;
  height: 100%;
  margin-left: 10px;
}

.pic {
  box-shadow: 6px 6px 7px #888888;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 135px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pic:before {
  content: "";
  margin-top: -63px;
  margin-left: -80px;
  position: absolute;
  width: 450px;
  height: 450px;
  background: url("http://ultraimg.com/images/a0ed6d.jpg") center center;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pic:hover,
.box1:hover,
.box2:hover,
.social1:hover,
.social2:hover,
.social3:hover {
  box-shadow: 3px 3px 7px #888888;
  cursor: pointer;
}

.box1 {
  box-shadow: 6px 6px 7px #888888;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-top: -124px;
  margin-left: 16px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.box1:before {
  content: "";
  margin-top: -25px;
  margin-left: -31px;
  position: absolute;
  width: 200px;
  height: 200px;
  background: url("https://blog.hubspot.com/hubfs/what-is-digital-marketing.jpg")
    center center;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.box2 {
  box-shadow: 6px 6px 7px #888888;
  position: relative;
  overflow: hidden;
  width: 194px;
  height: 99px;
  margin-top: 14px;
  margin-left: 78px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.box2:before {
  content: "";
  margin-top: -70px;
  margin-left: -40px;
  position: absolute;
  width: 300px;
  height: 300px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/82/MAPS.ME_Android_App_v9.4.4_Screenshot_with_Walking_Route_Built.jpg")
    center center;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social1 {
  box-shadow: 6px 6px 7px #888888;
  width: 80px;
  height: 80px;
  background-color: #3b5998;
  margin-top: -57px;
  margin-left: 305px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social1 > i {
  font-size: 60px;
  margin-top: 13px;
  margin-left: 20px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #ffffff;
}

.social2 {
  box-shadow: 6px 6px 7px #888888;
  width: 80px;
  height: 80px;
  background-color: #c73b6f;
  margin-top: -142px;
  margin-left: 370px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social2 > i {
  font-size: 60px;
  margin-top: 8px;
  margin-left: 13px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #ecdd8b;
}

.social3 {
  box-shadow: 6px 6px 7px #888888;
  width: 80px;
  height: 80px;
  background-color: #62fc3b;
  margin-top: -143px;
  margin-left: 435px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social3 > i {
  font-size: 60px;
  margin-top: 9px;
  margin-left: 9px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #ffffff;
}

.content {
  height: 100%;
  width: 500px;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
}

h2 {
  font-family: "Dancing Script", cursive;
}

.contentHead {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 60px;
  font-weight: 500;
  text-decoration: underline;
  color: whitesmoke;
}
p {
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 480px) {
  .containers {
    display: none;
  }
  p {
    padding: 50px;
  }
}

@media screen and (max-width: 1095px) {
  .containers {
    display: none;
  }
}
